In [1]:
# Importing necessary libraries for data manipulation and visualization
import sys
import os

sys.path.append(os.path.abspath(".."))
from data_handlers.main import DataHandler
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
data_csv = pd.read_csv("../data/arrivals.csv")
arv_df = pd.DataFrame(data_csv)

In [3]:
data_csv = pd.read_csv("../data/flights_by_aircraft.csv")
a_crft_df = pd.DataFrame(data_csv)

In [4]:
a_crft_df.sample(n=5)

,icao24,firstSeen,firstSeen_utc,estDepartureAirport,lastSeen,lastSeen_uts,estArrivalAirport,callsign,estDepartureAirportHorizDistance,estDepartureAirportVertDistance,estArrivalAirportHorizDistance,estArrivalAirportVertDistance,departureAirportCandidatesCount,arrivalAirportCandidatesCount
22,3c664e,1728598981,2024-10-10 22:23:01+00:00,EDDF,1728601603,2024-10-10 23:06:43+00:00,NaN,DLH1LC,1944.0,308.0,NaN,NaN,151,0
5,51113f,1728539409,2024-10-10 05:50:09+00:00,EEKE,1728540800,2024-10-10 06:13:20+00:00,NaN,NYX202,16260.0,1877.0,NaN,NaN,17,0
27,a3b85b,1728609915,2024-10-11 01:25:15+00:00,KFBL,1728610177,2024-10-11 01:29:37+00:00,NaN,MVK35,9561.0,690.0,NaN,NaN,233,0
15,aa3cbe,1728601001,2024-10-10 22:56:41+00:00,KLGU,1728601917,2024-10-10 23:11:57+00:00,NaN,N759PA,524.0,28.0,NaN,NaN,59,0
24,7c6b2d,1728609800,2024-10-11 01:23:20+00:00,YMML,1728611929,2024-10-11 01:58:49+00:00,NaN,JST472,2688.0,103.0,NaN,NaN,89,0

In [5]:
arv_df.sample(n=5)

,icao24,firstSeen,firstSeen_utc,estDepartureAirport,lastSeen,lastSeen_uts,estArrivalAirport,callsign,estDepartureAirportHorizDistance,estDepartureAirportVertDistance,estArrivalAirportHorizDistance,estArrivalAirportVertDistance,departureAirportCandidatesCount,arrivalAirportCandidatesCount
5,040045,1728599511,2024-10-10 22:31:51+00:00,NaN,1728600893,2024-10-10 22:54:53+00:00,WSAC,ETH639,0,0,24468,2774,0,2
0,7c38ba,1728538528,2024-10-10 05:35:28+00:00,YSBK,1728538528,2024-10-10 05:35:28+00:00,YSBK,LHO,891,24,886,24,35,35
4,48c22e,1728592826,2024-10-10 20:40:26+00:00,NaN,1728595996,2024-10-10 21:33:16+00:00,EPKK,RYR1901,0,0,11,109,0,42
2,a0c538,1728537646,2024-10-10 05:20:46+00:00,KMFR,1728538987,2024-10-10 05:43:07+00:00,KS03,N149MF,14138,1703,16020,2275,74,54
1,7c6ac5,1728538946,2024-10-10 05:42:26+00:00,YBLT,1728540257,2024-10-10 06:04:17+00:00,YMAV,VDJ,1481,584,795,71,91,83

In [6]:
arv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 14 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   icao24                            6 non-null      object
 1   firstSeen                         6 non-null      int64
 2   firstSeen_utc                     6 non-null      object
 3   estDepartureAirport               3 non-null      object
 4   lastSeen                          6 non-null      int64
 5   lastSeen_uts                      6 non-null      object
 6   estArrivalAirport                 6 non-null      object
 7   callsign                          6 non-null      object
 8   estDepartureAirportHorizDistance  6 non-null      int64
 9   estDepartureAirportVertDistance   6 non-null      int64
 10  estArrivalAirportHorizDistance    6 non-null      int64
 11  estArrivalAirportVertDistance     6 non-null      int64
 12  departureAirportCandidatesCount   6 non-null      int64
 13  arrivalAirportCandidatesCount     6 non-null      int64
dtypes: int64(8), object(6)
memory usage: 804.0+ bytes

In [7]:
arv_df.isnull().sum()

icao24                              0
firstSeen                           0
firstSeen_utc                       0
estDepartureAirport                 3
lastSeen                            0
lastSeen_uts                        0
estArrivalAirport                   0
callsign                            0
estDepartureAirportHorizDistance    0
estDepartureAirportVertDistance     0
estArrivalAirportHorizDistance      0
estArrivalAirportVertDistance       0
departureAirportCandidatesCount     0
arrivalAirportCandidatesCount       0
dtype: int64

In [8]:
arv_df.isna().sum()

icao24                              0
firstSeen                           0
firstSeen_utc                       0
estDepartureAirport                 3
lastSeen                            0
lastSeen_uts                        0
estArrivalAirport                   0
callsign                            0
estDepartureAirportHorizDistance    0
estDepartureAirportVertDistance     0
estArrivalAirportHorizDistance      0
estArrivalAirportVertDistance       0
departureAirportCandidatesCount     0
arrivalAirportCandidatesCount       0
dtype: int64

In [9]:
arv_df = arv_df.dropna(how="any")

In [10]:
arv_df.isna().sum()

icao24                              0
firstSeen                           0
firstSeen_utc                       0
estDepartureAirport                 0
lastSeen                            0
lastSeen_uts                        0
estArrivalAirport                   0
callsign                            0
estDepartureAirportHorizDistance    0
estDepartureAirportVertDistance     0
estArrivalAirportHorizDistance      0
estArrivalAirportVertDistance       0
departureAirportCandidatesCount     0
arrivalAirportCandidatesCount       0
dtype: int64

In [11]:
arv_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 0 to 2
Data columns (total 14 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   icao24                            3 non-null      object
 1   firstSeen                         3 non-null      int64
 2   firstSeen_utc                     3 non-null      object
 3   estDepartureAirport               3 non-null      object
 4   lastSeen                          3 non-null      int64
 5   lastSeen_uts                      3 non-null      object
 6   estArrivalAirport                 3 non-null      object
 7   callsign                          3 non-null      object
 8   estDepartureAirportHorizDistance  3 non-null      int64
 9   estDepartureAirportVertDistance   3 non-null      int64
 10  estArrivalAirportHorizDistance    3 non-null      int64
 11  estArrivalAirportVertDistance     3 non-null      int64
 12  departureAirportCandidatesCount   3 non-null      int64
 13  arrivalAirportCandidatesCount     3 non-null      int64
dtypes: int64(8), object(6)
memory usage: 360.0+ bytes

In [12]:
arv_df[["dist_frm_orig_v", "dist_frm_orig_h"]].plot()

KeyError: "None of [Index(['dist_frm_orig_v', 'dist_frm_orig_h'], dtype='object')] are in the [columns]"

In [ ]:
arv_df.sample(n=5)