In [15]:
# Importing necessary libraries for data manipulation and visualization
import sys
import os

sys.path.append(os.path.abspath(".."))
from data_handlers.main import DataHandler
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import folium

In [16]:
data_csv = pd.read_csv("../data/flight_states.csv")
f_sts_df = pd.DataFrame(data_csv)

In [17]:
f_sts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46857 entries, 0 to 46856
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   icao24            46857 non-null  object
 1   callsign          46100 non-null  object
 2   origin_country    46857 non-null  object
 3   time_position     46471 non-null  float64
 4   last_contact      46857 non-null  int64
 5   last_contact_utc  46857 non-null  object
 6   longitude         46471 non-null  float64
 7   latitude          46471 non-null  float64
 8   geo_altitude      42613 non-null  float64
 9   on_ground         46857 non-null  bool
 10  velocity          46842 non-null  float64
 11  true_track        46857 non-null  float64
 12  vertical_rate     43050 non-null  float64
 13  sensors           0 non-null      float64
 14  baro_altitude     42857 non-null  float64
 15  squawk            25083 non-null  float64
 16  spi               46857 non-null  bool
 17  position_source   46857 non-null  int64
 18  category          46857 non-null  int64
dtypes: bool(2), float64(10), int64(3), object(4)
memory usage: 6.2+ MB

In [18]:
f_sts_df.isna().sum()

icao24                  0
callsign              757
origin_country          0
time_position         386
last_contact            0
last_contact_utc        0
longitude             386
latitude              386
geo_altitude         4244
on_ground               0
velocity               15
true_track              0
vertical_rate        3807
sensors             46857
baro_altitude        4000
squawk              21774
spi                     0
position_source         0
category                0
dtype: int64

In [19]:
f_sts_df = f_sts_df.drop("sensors", axis=1)

In [20]:
f_sts_df_clean = f_sts_df.dropna()

In [21]:
f_sts_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23592 entries, 0 to 46856
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   icao24            23592 non-null  object
 1   callsign          23592 non-null  object
 2   origin_country    23592 non-null  object
 3   time_position     23592 non-null  float64
 4   last_contact      23592 non-null  int64
 5   last_contact_utc  23592 non-null  object
 6   longitude         23592 non-null  float64
 7   latitude          23592 non-null  float64
 8   geo_altitude      23592 non-null  float64
 9   on_ground         23592 non-null  bool
 10  velocity          23592 non-null  float64
 11  true_track        23592 non-null  float64
 12  vertical_rate     23592 non-null  float64
 13  baro_altitude     23592 non-null  float64
 14  squawk            23592 non-null  float64
 15  spi               23592 non-null  bool
 16  position_source   23592 non-null  int64
 17  category          23592 non-null  int64
dtypes: bool(2), float64(9), int64(3), object(4)
memory usage: 3.1+ MB

In [22]:
f_sts_df.origin_country.value_counts()

origin_country
United States             25156
United Kingdom             2110
Canada                     1796
Ireland                    1400
Germany                    1243
                          ...
Seychelles                    1
Bosnia and Herzegovina        1
Afghanistan                   1
Senegal                       1
Guinea                        1
Name: count, Length: 131, dtype: int64

In [23]:
f_sts_df.callsign.value_counts()

callsign
            59
N           14
00000000     9
HBAL712      5
UAL1400      5
            ..
N14MN        1
AVL228       1
N52LL        1
EL16         1
UAL2288      1
Name: count, Length: 37395, dtype: int64

In [24]:
f_sts_df.icao24.value_counts()

icao24
4cade2    5
4951d7    5
45aa53    5
471f6a    5
461f35    5
         ..
a63b75    1
a0ca25    1
505e81    1
a02ae0    1
a05dba    1
Name: count, Length: 27326, dtype: int64

In [25]:
f_sts_df.sample(n=5)

,icao24,callsign,origin_country,time_position,last_contact,last_contact_utc,longitude,latitude,geo_altitude,on_ground,velocity,true_track,vertical_rate,baro_altitude,squawk,spi,position_source,category
11454,06a2ef,QTR57L,Qatar,1.728597e+09,1728596911,2024-10-10 21:48:31+00:00,35.9993,31.7171,10005.06,False,295.67,261.90,-26.98,10972.80,2171.0,False,0,0
1632,7c4a54,JST8991,Australia,1.728542e+09,1728541785,2024-10-10 06:29:45+00:00,109.7941,-5.0904,12694.92,False,234.01,124.25,-0.33,11887.20,NaN,False,0,0
46805,a0174e,CXK623,United States,1.728617e+09,1728616904,2024-10-11 03:21:44+00:00,-100.9878,32.0473,2194.56,False,61.64,83.29,-1.30,2087.88,NaN,False,0,0
17444,ad03c4,DAL2200,United States,1.728602e+09,1728601911,2024-10-10 23:11:51+00:00,-82.5670,39.7725,3246.12,False,159.97,300.11,-2.60,3162.30,NaN,False,0,0
11781,4ba8c4,TKJ2UW,Turkey,1.728597e+09,1728596910,2024-10-10 21:48:30+00:00,30.4989,40.5994,8412.48,False,237.23,110.83,10.08,8092.44,NaN,False,0,0

In [26]:
US_flights = pd.DataFrame(f_sts_df[f_sts_df.origin_country == "United States"])
US_flights

,icao24,callsign,origin_country,time_position,last_contact,last_contact_utc,longitude,latitude,geo_altitude,on_ground,velocity,true_track,vertical_rate,baro_altitude,squawk,spi,position_source,category
23,a7b07c,FDX9028,United States,1.728542e+09,1728541782,2024-10-10 06:29:42+00:00,135.3377,33.7572,6477.00,False,259.84,120.32,7.15,6225.54,3143.0,False,0,0
39,ac96be,AAL1454,United States,1.728542e+09,1728541786,2024-10-10 06:29:46+00:00,-112.6629,36.0445,9326.88,False,237.45,87.14,4.55,8884.92,1005.0,False,0,0
43,acdfd3,N929CH,United States,1.728542e+09,1728541786,2024-10-10 06:29:46+00:00,-104.8662,39.7425,2468.88,False,115.52,168.44,-1.95,2354.58,5143.0,False,0,0
56,a4b234,WIS300,United States,1.728542e+09,1728541786,2024-10-10 06:29:46+00:00,-86.5598,42.1960,2446.02,False,106.19,256.84,-0.33,2438.40,NaN,False,0,0
67,ac2f83,SWA1420,United States,1.728542e+09,1728541785,2024-10-10 06:29:45+00:00,-114.3669,42.9793,10812.78,False,218.13,293.78,0.00,10363.20,NaN,False,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46851,abc0e4,SWA1194,United States,1.728617e+09,1728616904,2024-10-11 03:21:44+00:00,-104.8092,38.0390,11475.72,False,232.79,229.48,0.00,10972.80,2474.0,False,0,0
46852,a5a53e,N463FA,United States,1.728617e+09,1728616900,2024-10-11 03:21:40+00:00,-75.5417,40.5660,685.80,False,43.98,245.83,4.88,685.80,NaN,False,0,0
46854,a05dba,UAL2288,United States,1.728617e+09,1728616902,2024-10-11 03:21:42+00:00,-115.1489,36.0787,NaN,True,8.75,95.62,NaN,NaN,4605.0,False,0,0
46855,ad00be,N937MA,United States,1.728617e+09,1728616902,2024-10-11 03:21:42+00:00,-83.7252,39.7289,944.88,False,34.47,89.14,-0.98,883.92,1200.0,False,0,0
46856,a41b89,DAL2349,United States,1.728617e+09,1728616904,2024-10-11 03:21:44+00:00,-90.8517,44.9565,10111.74,False,213.96,276.77,0.00,9753.60,7731.0,False,0,0

In [33]:
map = folium.Map(location=[39.8283, -98.5795], zoom_control=True, zoom_start=5)

cat1 = folium.FeatureGroup(name="Unknown Craft", show=True)
cat2 = folium.FeatureGroup(name="Light Craft", show=True)
cat3 = folium.FeatureGroup(name="Small Craft", show=True)
cat4 = folium.FeatureGroup(name="Large Craft", show=True)


for index, flight in US_flights.iterrows():
    if (
        pd.notna(flight["longitude"])
        and pd.notna(flight["latitude"])
        and flight["category"] == 4
    ):
        folium.Marker(
            location=[flight["latitude"], flight["longitude"]],
            tooltip="Large Aircraft",
            popup="Large (75000 to 300000 lbs)",
            icon=folium.Icon(icon="plane", color="green"),
        ).add_to(cat4)


for index, flight in US_flights.iterrows():
    if (
        pd.notna(flight["longitude"])
        and pd.notna(flight["latitude"])
        and flight["category"] == 3
    ):
        folium.Marker(
            location=[flight["latitude"], flight["longitude"]],
            tooltip="Small Aircraft",
            popup="3 = Small (15500 to 75000 lbs)",
            icon=folium.Icon(icon="plane", color="pink"),
        ).add_to(cat3)

for index, flight in US_flights.iterrows():
    if (
        pd.notna(flight["longitude"])
        and pd.notna(flight["latitude"])
        and flight["category"] == 2
    ):
        folium.Marker(
            location=[flight["latitude"], flight["longitude"]],
            tooltip="Light Aircraft",
            popup="Light (< 15500 lbs)",
            icon=folium.Icon(icon="plane", color="blue"),
        ).add_to(cat3)

for index, flight in US_flights.iterrows():
    if (
        pd.notna(flight["longitude"])
        and pd.notna(flight["latitude"])
        and flight["category"] == 1
    ):
        folium.Marker(
            location=[flight["latitude"], flight["longitude"]],
            tooltip="UFA",
            popup="No ADS-B Emitter Category Information",
            icon=folium.Icon(icon="plane", color="red"),
        ).add_to(cat1)

cat1.add_to(map)
cat2.add_to(map)
cat3.add_to(map)
cat4.add_to(map)


def add_to_map(df, marker_opt, feature_opt, base_map):
    feature_group = folium.FeatureGroup(name=feature_opt["name"])

    for index, row in df.iterrows():
        folium.Marker(
            location=[row["latitude"], row["longitude"]],
            tooltip=marker_opt["tooltip"](row),
            popup=marker_opt["popup"](row),
            icon=folium.Icon(icon=marker_opt["icon"], color=marker_opt["color"]),
        ).add_to(feature_group)

        feature_group.add_to(base_map)
    pass


folium.LayerControl().add_to(map)

In [34]:
map.save("../maps_html/index.html")