In [40]:
# Importing necessary libraries for data manipulation and visualization
import sys
import os

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import folium

In [41]:
current_dir = os.path.dirname(os.path.abspath(__file__))

flights_csv_path = os.path.join(current_dir, "../data/flight_states.csv")

if os.path.exists(flights_csv_path):
    data_csv = pd.read_csv(flights_csv_path)
    f_sts_df = pd.DataFrame(data_csv)
else:
    raise FileNotFoundError(f"CSV file not found: {flights_csv_path}")

In [43]:
f_sts_df.isna().sum()

icao24                  0
callsign              757
origin_country          0
time_position         386
last_contact            0
last_contact_utc        0
longitude             386
latitude              386
geo_altitude         4244
on_ground               0
velocity               15
true_track              0
vertical_rate        3807
sensors             46857
baro_altitude        4000
squawk              21774
spi                     0
position_source         0
category                0
dtype: int64

In [44]:
if (
    "sensors" in f_sts_df.columns
    or "position_source" in f_sts_df.columns
    or "spi" in f_sts_df.columns
):
    f_sts_df = f_sts_df.drop("sensors", axis=1)
    f_sts_df = f_sts_df.drop("position_source", axis=1)
    f_sts_df = f_sts_df.drop("spi", axis=1)
else:
    pass

In [45]:
f_sts_df = f_sts_df[f_sts_df.category > 0]

In [46]:
f_sts_df.origin_country.value_counts()

origin_country
United States                 1750
Australia                      158
Germany                         97
Spain                           91
Austria                         89
United Kingdom                  88
France                          82
China                           74
Kingdom of the Netherlands      67
Ireland                         66
Belgium                         64
Canada                          60
Switzerland                     52
Turkey                          45
Republic of Korea               34
United Arab Emirates            29
Luxembourg                      27
Taiwan                          25
Qatar                           20
Denmark                         15
Estonia                         14
Portugal                        10
Israel                           9
Saudi Arabia                     9
Mexico                           9
Morocco                          9
Poland                           8
Egypt                            7
Chile                            7
Latvia                           7
Hungary                          7
India                            7
New Zealand                      6
Bulgaria                         6
Finland                          5
Algeria                          4
Italy                            4
Nepal                            4
Ethiopia                         4
Kuwait                           3
Malaysia                         3
Norway                           3
Japan                            3
Philippines                      3
Indonesia                        2
Sweden                           2
Malta                            2
Czech Republic                   2
Singapore                        1
Argentina                        1
Belarus                          1
South Africa                     1
Slovakia                         1
Greece                           1
Brazil                           1
Name: count, dtype: int64

In [47]:
f_sts_df.callsign.value_counts()

callsign
            15
HBAL712      5
PAT239       4
AAL1632      4
JBU377       4
            ..
LXJ413       1
JIA5189      1
N6026Z       1
GFD5         1
SWR282       1
Name: count, Length: 2465, dtype: int64

In [48]:
f_sts_df.icao24.value_counts()

icao24
adc9b6    5
a01fee    5
45d064    5
ab2b23    5
adcd6d    5
         ..
a6c5dc    1
adfd6f    1
a05467    1
ac31a1    1
abc0c1    1
Name: count, Length: 1688, dtype: int64

In [49]:
f_sts_df.sample(n=5)

,icao24,callsign,origin_country,time_position,last_contact,last_contact_utc,longitude,latitude,geo_altitude,on_ground,velocity,true_track,vertical_rate,baro_altitude,squawk,category
25946,a2b8e2,N27481,United States,1.728602e+09,1728601902,2024-10-10 23:11:42+00:00,-97.9769,43.6861,601.98,False,59.82,176.05,-2.28,548.64,NaN,3
29619,aa7238,UAL1222,United States,1.728612e+09,1728611973,2024-10-11 01:59:33+00:00,-103.6842,38.9526,7726.68,False,205.45,311.96,-9.10,7353.30,3663.0,1
21314,abe579,DAL1068,United States,1.728602e+09,1728601911,2024-10-10 23:11:51+00:00,-111.8061,40.2256,6080.76,False,187.98,295.79,0.33,5791.20,NaN,4
18646,4d03c1,NATO01,Luxembourg,1.728602e+09,1728601911,2024-10-10 23:11:51+00:00,24.0991,35.5145,9951.72,False,225.98,205.34,-0.33,9441.18,6711.0,13
35073,aaeae5,SKW3686,United States,1.728612e+09,1728611975,2024-10-11 01:59:35+00:00,-73.3729,41.1081,891.54,False,128.55,218.34,0.98,899.16,2010.0,4

In [50]:
def get_us_flights():
    US_flights = pd.DataFrame(f_sts_df[f_sts_df.origin_country == "United States"])
    US_flights = US_flights.dropna(how="any")
    return US_flights

<class 'pandas.core.frame.DataFrame'>
Index: 805 entries, 92 to 46816
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   icao24            805 non-null    object
 1   callsign          805 non-null    object
 2   origin_country    805 non-null    object
 3   time_position     805 non-null    float64
 4   last_contact      805 non-null    int64
 5   last_contact_utc  805 non-null    object
 6   longitude         805 non-null    float64
 7   latitude          805 non-null    float64
 8   geo_altitude      805 non-null    float64
 9   on_ground         805 non-null    bool
 10  velocity          805 non-null    float64
 11  true_track        805 non-null    float64
 12  vertical_rate     805 non-null    float64
 13  baro_altitude     805 non-null    float64
 14  squawk            805 non-null    float64
 15  category          805 non-null    int64
dtypes: bool(1), float64(9), int64(2), object(4)
memory usage: 101.4+ KB

In [53]:
def get_craft_flights():
    icao24_craft = pd.DataFrame(f_sts_df[f_sts_df.icao24 == "adc9b6"])
    icao24_craft = icao24_craft.dropna(how="any")
    return icao24_craft