In [9]:
# Importing necessary libraries for data manipulation and visualization
import sys
import os

sys.path.append(os.path.abspath(".."))
from data_handlers.main import DataHandler
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [10]:
data_csv = pd.read_csv("../data/flight_states.csv")
f_sts_df = pd.DataFrame(data_csv)

In [11]:
f_sts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9595 entries, 0 to 9594
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   icao24           9595 non-null   object
 1   callsign         9398 non-null   object
 2   origin_country   9595 non-null   object
 3   time_position    9477 non-null   float64
 4   last_contact     9595 non-null   int64
 5   longitude        9477 non-null   float64
 6   latitude         9477 non-null   float64
 7   geo_altitude     8451 non-null   float64
 8   on_ground        9595 non-null   bool
 9   velocity         9591 non-null   float64
 10  true_track       9595 non-null   float64
 11  vertical_rate    8567 non-null   float64
 12  sensors          0 non-null      float64
 13  baro_altitude    8531 non-null   float64
 14  squawk           5466 non-null   float64
 15  spi              9595 non-null   bool
 16  position_source  9595 non-null   int64
 17  category         9595 non-null   int64
dtypes: bool(2), float64(10), int64(3), object(3)
memory usage: 1.2+ MB

In [12]:
f_sts_df.sample(n=5)

,icao24,callsign,origin_country,time_position,last_contact,longitude,latitude,geo_altitude,on_ground,velocity,true_track,vertical_rate,sensors,baro_altitude,squawk,spi,position_source,category
7177,a56c24,ATN3406,United States,1.728536e+09,1728536233,-116.0548,33.6042,9479.28,False,230.47,90.26,9.75,NaN,9037.32,NaN,False,0,0
2140,76cd15,SIA223,Singapore,1.728536e+09,1728535695,107.5989,-7.6676,12664.44,False,254.44,161.13,0.00,NaN,11887.20,NaN,False,0,0
4538,71bf93,AAR8951,Republic of Korea,1.728536e+09,1728536004,126.6223,34.3723,5013.96,False,195.71,184.98,0.33,NaN,4876.80,NaN,False,0,0
3675,781917,CSN3453,China,1.728536e+09,1728535830,113.7120,22.8939,2727.96,False,188.60,340.23,11.70,NaN,2545.08,NaN,False,0,0
3095,406d1a,BAW12,United Kingdom,1.728536e+09,1728536005,0.6789,51.6391,4160.52,False,147.03,263.57,-5.53,NaN,4244.34,3243.0,False,0,0

In [14]:
craft_ids = f_sts_df.icao24.unique()
df = pd.DataFrame(craft_ids)
df.to_csv("../data/icao24_craft_ids.csv", mode="a", header=False, index=False)